body {
  margin: 0; padding: 0; background-color: #eee;
}

#wmemo_gen_button {
  display: block; width: 260px; height: 40px;
  top: 20px; left: 20px; position: absolute;
  padding: 10px 0 0 0;
  text-align: center; line-height: 0.9;
  color: #333; font-size: 18pt;
  background-color: #ddd;
  text-shadow: 0px 0px 4px #77f;
  box-shadow: 1px 1px 2px #aaa;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#wmemo_gen_button:hover {
  box-shadow: 1px 1px 2px #77f; color: #339;
}

#wmemo_gen_button:active {
  box-shadow: 1px 1px 2px #77f inset; line-height: 1.0;
}
